<h1>Todos os projetos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
  </tr>

<% for project in @projects %>
  <tr>
    <td><%=h project.name %></td>
    <td><%=h project.description %></td>
    <td><%= link_to 'Detalhes', project %></td>
    <td><%= link_to 'Editar', edit_project_path(project) %></td>
    <td><%= link_to 'Apagar', project, :confirm => 'você tem certeza?', :method => :delete %></td>
    <td><%= link_to 'Associar-se', new_project_project_membership_path(project) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Projeto', new_project_path %>
